/* Esconde o menu de navegação padrão do Streamlit */
div[data-testid="stSidebarNav"] {
    display: none;
}

/* Cor de fundo da sidebar */
[data-testid="stSidebar"] {
    background-color: #2E2E38;
}

/* Título do Ministério */
[data-testid="stSidebar"] h1 {
    color: #FFFFFF;
    padding-top: 1em;
}

/* Mensagem de boas-vindas */
[data-testid="stSidebar"] .st-emotion-cache-16idsys p {
     color: #FFFFFF;
}

/* Links de navegação (botões) */
.st-emotion-cache-19ullrr a {
    display: block;
    padding: 0.75em 1em;
    margin: 0.5em 0;
    border-radius: 0.5rem;
    background-color: #4A4A58;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color 0.2s;
}

/* Efeito hover nos links */
.st-emotion-cache-19ullrr a:hover {
    background-color: #6A6A78;
}

/* Estilo do link da página ATIVA */
.st-emotion-cache-19ullrr .st-emotion-cache-1dte4b5 {
    background-color: #E84A5F;
    color: #FFFFFF;
}

/* Botão de Sair */
[data-testid="stSidebar"] .stButton button {
    background-color: #4A4A58;
    color: #FFFFFF;
    width: 100%;
    border: 1px solid #E84A5F;
}
 [data-testid="stSidebar"] .stButton button:hover {
    background-color: #E84A5F;
}

